<strong>Olá, {{ name }}</strong>
<p>O seu cadastro foi realizado com sucesso</p>
<p>
  <Strong>Senha: </Strong> {{ password_hash }} <br />

  <small>
    <strong>Obs.: </strong>Atualize a senha mostrada para uma senha de sua preferência.
  </small>
</p>
